.card {
    z-index: 1;
    border-radius: unset;
    border: 0;
    transition: 0.4s;
  }
  .card-wrapper {
    padding: 0;
    box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.2);
  }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  
  .card-img-top {
    border-radius: unset;
  }
  
  
  