{% extends "base.html" %}
{% block title %} Restablecer contraseña{%endblock%}
{% block content %}

<form action="" method="post">{% csrf_token %}
    {%if form.errors.old_password%}
    <div class="alert alert-info" role="alert">
        La contraseña antigua ingresada es incorrecta
       </div>
    {% endif %}
    {%if form.errors.new_password2%}
    <div class="alert alert-info" role="alert">
        Las contraseñas ingresadas deben coincidir
       </div>
       <div class="alert alert-info" role="alert">
        Las contraseñas tiene que tener al menos 8 caracteres
       </div>
       <div class="alert alert-info" role="alert">
        Las contraseñas no pueden ser unicamente numericas
       </div>
    {% endif %}
    {%if form.errors.new_password1%}
    <div class="alert alert-info" role="alert">
        Las contraseñas ingresadas deben coincidir
       </div>
       <div class="alert alert-info" role="alert">
        Las contraseñas tiene que tener al menos 8 caracteres
       </div>
       <div class="alert alert-info" role="alert">
        Las contraseñas no pueden ser unicamente numericas
       </div>
    {% endif %}
        {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Establecer contraseña" />
</form>
<br>
<br>
<script>
  $(".helptext").hide();
  $('li').hide();
  $('input').addClass("form-control");
  $("label[for='id_old_password']").text("Contraseña Antigua:");
  $("label[for='id_new_password1']").text("Nueva Contraseña:");
  $("label[for='id_new_password2']").text("repita nueva Contraseña:");

  
 
</script>
{% endblock %}