
<link  rel="stylesheet" href="/static/css/personalizacion.css" media="screen">

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-primary">
  <div class="container">
  
  <a class="navbar-brand" href="{% url 'home'%}">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Ecology_symbol.svg" width="30" height="30" alt="">
    Cambio Climatico
   

  

</a>
    
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asc'%}">Monitoreo</a>
        </li>
     
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
        </li>


        
        


        <li class="nav-item">
          <a class="nav-link " href="{% url 'articulos'  %}" >
            Articulos
          </a>
         
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Otras Paginas
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
            <a class="dropdown-item" href="{% url 'porciudades'  %}">Grafico modelo por ciudad</a>
            <a class="dropdown-item" href="{% url 'climci'  %}">Clima por ciudades</a>
            <a class="dropdown-item" href="{% url 'preguntas'%}">FAQ</a>
            <a class="dropdown-item" href="/articulo/fuentes/">Documentacion y referencias</a>
            <a class="dropdown-item" href="/articulo/impacto-economico/">Impacto economico</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if user.is_authenticated %}
            {{user.get_username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="/add">Añadir articulo</a>
            <a class="dropdown-item" href="/articulos-all">Editar Articulo</a>
            <a class="dropdown-item" href="{% url 'menu'%}">Menu</a>
            <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Cerrar Sesion</a>
          
          </div>
           {% else %}
           Usuarios
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="{% url 'login'%}">Iniciar Sesion</a>
            <a class="dropdown-item" href="{% url 'register'%}">Registrar</a> 
          </div>
           {% endif %} 
          </li>




      </ul>
    </div>
  </div>
</nav>
<style>
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
</style>

  