<div class="container">

   
    <h1 class="mt-4 mb-3">Causas
      <small>
        ¿Por qué está ocurriendo el cambio climático?</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="">Datos</a>
      </li>
      <li class="breadcrumb-item active">causas</li>
    </ol>
    <img  class='img-fluid'src="https://climate.nasa.gov/system/content_pages/main_images/1364_Greenhouse_effect_animated_gif_Spanish.gif" alt="650" height="650">
    <p><h5><small>Ciertos gases en la atmósfera bloquean el calor y no permiten que escape. Los gases de larga vida que se quedan de manera semi-permanentemente en la atmósfera y no responden física o químicamente a los cambios en la temperatura se describen como “forzantes” del cambio climático. Gases como el vapor de agua, que responden física o químicamente a los cambios en la temperatura, son considerados “retroalimentadores”.

        Los gases que contribuyen al efecto invernadero incluyen:
        <br>
        <br>
        <strong>Vapor de agua</strong>. Es el gas de efecto invernadero más abundante pero, principalmente, actúa como retroalimentador del clima. El vapor de agua aumenta a medida que se calienta la atmósfera de la Tierra, y también incrementa la probabilidad de nubes y precipitaciones, lo que hace que estos sean algunos de los mecanismos de retroalimentación más importantes del efecto invernadero. <br><br>
        <strong>óxido de carbono (CO2)</strong>. Es un componente menor pero muy importante de la atmósfera. El dióxido de carbono se libera a través de procesos naturales como la respiración y las erupciones volcánicas, así como mediante actividades humanas como la deforestación, el cambio en el uso de los suelos y la quema de combustibles fósiles. Desde el inicio de la Revolución Industrial, la actividad humana ha provocado un aumento en la concentración de CO2 de más de una tercera parte. Es el gas de larga duración “forzante” del cambio climático más importante  <br>
        <br><strong>Metano </strong>. Se trata de un gas hidrocarburo producido por fuentes naturales y por la actividad humana, como la descomposición de desechos en vertederos, la agricultura (en especial el cultivo de arroz), la digestión de rumiantes y el manejo del estiércol de ganado. A escala molecular, el metano es un gas de efecto invernadero mucho más activo que el dióxido de carbono, aunque mucho menos abundante en la atmósfera. <br>
        <br>
        <br><strong>Óxido nitroso</strong> Es un poderoso gas de efecto invernadero que se produce debido a las prácticas vinculadas con el cultivo del suelo, en especial el uso de fertilizantes comerciales y orgánicos, la incineración de combustibles fósiles, la producción de ácido nítrico y la quema de biomasa.<br>
        <br><strong>Clorofluorocarbonos (CFC)</strong> Son compuestos sintéticos de origen enteramente industrial que fueron utilizados en diversas aplicaciones pero su producción y emisión a la atmósfera están ahora muy reguladas mediante tratados internacionales, ya que contribuyen a la destrucción de la capa de ozono. También son gases de efecto invernadero.<br>
</small>
    </h5>
    </p>

  </div>