<div class="container">

   
    <h1 class="mt-4 mb-3">Efectos
      <small>
        ¿Cuáles son los efectos del cambio climático?</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="">Datos</a>
      </li>
      <li class="breadcrumb-item active">Efectos</li>
    </ol>
    <img  class='img-fluid'src="https://climate.nasa.gov/system/content_pages/main_images/1365_1320_effects-image.jpg" alt="650" height="650">
    <p><h5><small>El cambio climático global ya tiene efectos que se pueden observar en el medio ambiente. Los glaciares se han encogido, el hielo en los ríos y lagos se está derritiendo antes de tiempo, los hábitats de plantas y animales han cambiado y los árboles florecen antes.

        Los efectos que los científicos predijeron en el pasado que surgirían del cambio climático global están sucediendo ahora: pérdida del hielo marino, aumento acelerado del nivel del mar y olas de calor más intensas.
        <br>
        <br>
        <br>
        
        Los científicos están muy confiados de que la temperatura global seguirá aumentando en las próximas décadas, en gran parte debido a los gases de efecto invernadero que producen las actividades humanas. El Grupo Intergubernamental de Expertos sobre el Cambio Climático (IPCC, por sus siglas en inglés), que incluye a más de 1.300 científicos de Estados Unidos y de otros países, predice un aumento de la temperatura de entre 2,5 y 10 grados Fahrenheit durante el próximo siglo.
<br>
<br>
<br>
Según el IPCC, el alcance de los efectos del cambio climático en las regiones variará con el tiempo, así como con la capacidad de mitigación y adaptación al cambio de los diferentes sistemas ambientales y sociales.

</small>
    </h5>
    </p>

  </div>
