<div class="container">

   
    <h1 class="mt-4 mb-3">Evidencia
      <small>¿Cómo sabemos lo que sabemos?</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="">Datos</a>
      </li>
      <li class="breadcrumb-item active">Evidencia</li>
    </ol>
    <img  class='img-fluid'src="https://climate.nasa.gov/system/content_pages/main_images/1363_co2-graph-051519-spanish-1280px-90-v2.jpg" alt="650" height="650">
    <p><h5><small>El clima de la Tierra ha cambiado a través de la historia. En los últimos 650.000 años, se han dado siete ciclos de avances y retrocesos glaciales, con el abrupto final de la última era de hielo hace alrededor de 7.000 años, lo que marcó el comienzo de la era climática moderna y de la civilización humana. La mayoría de estos cambios climáticos se atribuyen a variaciones muy pequeñas en la órbita de la Tierra, las cuales alteran la cantidad de energía solar que recibe nuestro planeta.
        La tendencia al calentamiento actual resulta de particular importancia ya que es extremadamente posible (con una probabilidad mayor del 95 por ciento) que la mayor parte de ella sea el resultado de la actividad humana desde mediados del siglo XX, y avanza a un ritmo sin precedentes de décadas a milenios.1

Los satélites que orbitan la Tierra y otros avances tecnológicos han permitido a los científicos tener una visión global; han recolectado muchos tipos de información diferentes sobre nuestro planeta y su clima a escala global. Este conjunto de datos, reunido durante muchos años, revela signos de un clima cambiante.

A mediados del siglo XIX, se demostró que el dióxido de carbono y otros gases atrapan el calor.2 Su capacidad para afectar la transferencia de la energía infrarroja a través de la atmósfera es la base científica de muchos instrumentos que ha puesto en vuelo la NASA. No cabe duda de que el aumento de los niveles de los gases de efecto invernadero debe provocar que, como respuesta, la Tierra se caliente.

</small>
    </h5>
    </p>

  </div>
