<style>
.col_white_amrc { color:#FFF;}
footer { width:100%; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <footer class="footer py-5 bg-dark">
      <div class="container bottom_border">
      <div class="row">
      <div class=" col-sm-4 col-md col-sm-4  col-12 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Contacto</h5>
     
      <p class="mb10">En caso de encontrar bugs o desear retroalimentar con informacion sobre el rendimiento y funcionamiento de la pagina puede contactar por medio de</p>
 
      <p><i class="fa fa-phone"></i>  +502-31891752  </p>
      <p><i class="fa fa fa-envelope"></i>  lacajabona@miumg.edu.gt </p>
      
      
      </div>
      
      
      <div class=" col-sm-4 col-md  col-6 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Enlaces rapidos</h5>
  
      <ul class="footer_ul_amrc">
      <li><a href="http://webenlance.com">Image Rectoucing</a></li>
      <li><a href="http://webenlance.com">Clipping Path</a></li>
      <li><a href="http://webenlance.com">Hollow Man Montage</a></li>
      <li><a href="http://webenlance.com">Ebay & Amazon</a></li>
      <li><a href="http://webenlance.com">Hair Masking/Clipping</a></li>
      <li><a href="http://webenlance.com">Image Cropping</a></li>
      </ul>
    
      </div>
      
      
      <div class=" col-sm-4 col-md  col-6 col">
      <h5 class="headin5_amrc col_white_amrc pt2">Hechos</h5>
      
      <ul class="footer_ul_amrc">
      <li><a href="{% url 'triple'  %}">Evidencia</a></li>
      <li><a href="{% url 'triple'  %}">Causas</a></li>
      <li><a href="{% url 'triple'  %}">Efectos</a></li>
      <li><a href="#" >Consenso Cientifico</a></li>
      <li><a  href="{% url 'asc'%}">Indicadores</a></li>
      
      </ul>
      
      </div>
      
      
      
      </div>
      </div>
      
      
      <div class="container">
      <ul class="foote_bottom_ul_amrc">
      <li><a href="">Inicio</a></li>
      <li><a href="{% url 'acercade'%}">Acerca de</a></li>
      <li><a href="">Predicciones</a></li>
      <li><a href="">Articulos</a></li>
      <li><a href="">Recursos multimedia</a></li>
   
      </ul>
    
      <p class="text-center">Copyright @2020 | Diseñado <a href="#">Con boostrap</a></p>
      
      <ul class="social_footer_ul">
      <li><a href="http://webenlance.com"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="http://webenlance.com"><i class="fab fa-twitter"></i></a></li>
      <li><a href="http://webenlance.com"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="http://webenlance.com"><i class="fab fa-instagram"></i></a></li>
      </ul>
  
      </div>
      
      </footer>
      