{% extends "base.html" %}
{% block content %}


    
                <h1 class="title">
                    Datos Climatologicos
                </h1>
     
                



                
                  
                     
                         
                             
                      
                  










  
    
                    {% for city_weather in weather_data %}
                    
                        
                                
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                               
                            
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature }}° F</span>
                                        <br> {{ city_weather.description }}
                                    </p>
                                </div>
                               
                    {% endfor %}
         
    {% endblock %}