{% extends "base.html" %}
{% block content %}


    
                <h1 class="title">
                Datos Climatologicos{%if user.is_authenticated%}  <button  id='visibilidad' class='btn btn-light' value='ocultar' >mostrar/ocultar eliminar</button>
                    <script>
  $(document).ready(function(){
    $('#visibilidad').click(function(){
       
            $('.bt-el').toggle();
            

           
    });
  
   

});



                    </script>
                    
                    
                    
                    {%endif%}
                </h1>
                
                             
                      
           <div class="container">
                    <div class="row">
                    {% for city_weather in weather_data %}
                          {% if forloop.counter|divisibleby:"4" %}
                        </div>
                        <div class="row">
                            {% endif %}
                       
                         
                             <div class="col-sm">
                                <div class="card border-primary mb-3" style="max-width: 20rem;">
                                   <div class="card-header"> <img  src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">{{ city_weather.city }} 
                                    {% if user.is_authenticated %}<a  class= "btn btn-sm  btn-primary bt-el" href="{% url 'del-cit' city_weather.codigo %}">eliminar</a>{% endif %} 
                                  </div>
                                    <div class="card-body">
                                      <h4 class="card-title">{{ city_weather.temperature }}° F</h4>
                                      <p class="card-text">{{ city_weather.description }}.</p>
                                    </div>
                                  </div>
                                  
                       
                                </div>
                    {% endfor %}
         
                </div>
                  
                  </div>
    {% endblock %}